* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

header {
  position: relative;
  background: #282c34;
  color: #fff;
  text-align: center;
}

header .hero {
  background: url("hero-background.jpg") no-repeat center center/cover;
  padding: 100px 20px;
  color: #fff;
}

header .hero-content {
  max-width: 800px;
  margin: 0 auto;
}

header .hero h1 {
  font-size: 3em;
  margin: 0;
}

header .hero p {
  font-size: 1.5em;
}

header .cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #333333;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #333;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  background: #575757;
}

section {
  padding: 60px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  gap: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.project-gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-item {
  position: relative;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-item img {
  width: 100%;
  height: auto;
  display: block;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.project-item:hover .project-overlay {
  transform: translateY(0);
}

.project-overlay h3 {
  margin: 0;
  font-size: 1.5em;
}

.project-link {
  color: #61dafb;
  text-decoration: none;
}

.skills-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skill {
  flex: 1 1 calc(33% - 20px);
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  background: #e0e0e0;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.progress {
  background: #333333;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

form {
  display: grid;
  gap: 15px;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
form input:hover,
form textarea:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
  /* transform: translateY(-3px); */
  transform: scale(1.03);
  
}
.form-button {
  padding: 12px;
  background: #333333;
  border: none;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
}

.form-button:hover {
  background: #545353;
}
input::placeholder,
textarea::placeholder {
  opacity: 0;
}
.social-links a {
  margin: 0 5px;
  color: #61dafb;
  text-decoration: none;
}

footer {
  background: #282c34;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #333;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  background: #575757;
}

.menu-toggle {
  display: none;
  background: transparent;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.menu-toggle:active {
  transform: rotate(100deg);
}
.nav-menu {
  display: flex;
}

.cotact-link img {
  width: 30px;
  height: 30px;
  &:hover {
    transform: scale(1.07);
    transition: 0.3s;
  }
}

@media (max-width: 768px) {
  header .hero h1 {
    font-size: 2em;
  }
  header .hero p {
    font-size: 1em;
  }
  section {
    padding: 40px 20px;
  }
  .menu-toggle {
    display: block;
    bottom: 0;
    position: absolute;
    border-radius: 0 5px 0 0;
  }

  .nav-menu {
    position: absolute;
    top: 350px;
    display: flex;
    flex-direction: column;
    width: 50%;
    transform: translateX(-200%);
    opacity: 1;
    transition: transform 0.5s ease, opacity 2s ease;
  }

  .nav-menu.active {
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }

  .nav-menu li {
    margin: 0;
    text-align: center;
  }

  .nav-menu li a {
    padding: 10px;
  }
  .project-overlay h3 {
    font-size: 1em;
  }
  .project-overlay p {
    margin: 5px 0;
    font-size: 0.7em;
  }
  .project-link {
    font-size: 0.7em;
  }
  .about-content {
    display: block;
    text-align: end;
  }
  h2 {
    text-align: end;
    margin-right: 20px;
  }
  form {
    gap: 15;
  }
  form label {
    display: none;
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 1;
  }
  form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
  /* transform: translateY(-3px); */
  transform: scale(1.07);
  
}
  .cotact-link img {
    width: 20px;
    height: 20px;
  }
}

.title {
  opacity: 0;
  transform: translateX(-300px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.text {
  opacity: 0;
  transform: translateX(-300px);
  transition: opacity 1s ease-out, transform 2s ease-out;
}

.title.show {
  opacity: 1;
  transform: translateX(0);
}
.text.show {
  opacity: 1;
  transform: translateX(0);
}

.language-switcher-container {
  position: absolute;
  display: flex;
  top: 30px;
  right: 40px;
}

.language-switcher-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.language-options {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none; /* Ko'rinmas holatda bosib bo'lmaydi */
  transform: translateX(100%);
}

.language-options.show {
  animation: slideIn 0.6s forwards; /* O'ngdan chapga qarab siljish animatsiyasi */
  pointer-events: auto; /* Ko'rinadigan holatda bosib bo'ladi */
  display: flex;
  gap: 30px;
}

.language-options li {
  opacity: 0;
  transform: translateX(20px);
  animation: fadeIn 0.4s forwards;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  gap: 10px;
  align-items: center;
}

.language-options.show li:nth-child(1) {
  animation-delay: 0.15s;
}

.language-options.show li:nth-child(2) {
  animation-delay: 0.3s;
}

.language-options.show li:nth-child(3) {
  animation-delay: 0.45s;
}

.big-p {
  position: relative;
  margin: 0;
}
.big-p::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: -10px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}
.big-p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .language-switcher-container {
    top: 22px;
    right: 18px;
  }
  .language-switcher-button,
  .language-options li {
    font-size: 10px;
  }
  .language-options.show {
    gap: 15px;
  }
}
